{
	auto_https off
	servers {
		trusted_proxies static private_ranges
	}
}

:80 {
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		@assets path /assets/*
		header @assets Cache-Control "public, max-age=31536000, immutable"
		@pages not path /assets/*
		header @pages Cache-Control "no-cache"
		try_files {path} /index.html
		file_server
	}
}
