{
	auto_https off
	servers {
		trusted_proxies static private_ranges
	}
}

:80 {
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
